@model IEnumerable<SASF.MVC.ViewModels.PlanoViewModel>

<h2>Cadastro de Planos</h2>
<link href="/Content/animations.css" rel="stylesheet" type="text/css">
<link href="~/Content/animations.css" rel="stylesheet" />
@section Scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularPlanos")
}


<div ng-app="PlanosApp" ng-controller="PlanosCtrl">

    <form name="formDados" novalidate>

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Pesquisar</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Plano:</label>

                        <input class="form-control" type="search" ng-model="procurar" placeholder="Pesquisar Plano" aria-label="Pesquisar Plano" ng-maxlength="100" />

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-2">
                    <div class="form-group">
                        <button type="button" data-ng-click="abrirModalInclusao()" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Criar Novo Plano
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Registros</legend>

            @*INFO: Alerta*@
            <div class="row" data-ng-show="mensagem.erro">
                <div class="col-md-12">
                    <div class="alert alert-dismissable alert-danger">
                        <h4>Atenção!</h4>
                        {{ mensagem.erro }}
                    </div>
                </div>
            </div>         

            <div class="table-responsive">
                <table class="table table-hover">
                    <tr class="active">
                        <th style="cursor:pointer" ng-click="ordenar('PlanoId')">Código <span class="glyphicon glyphicon-sort"></span></th>
                        <th style="cursor:pointer" ng-click="ordenar('Nome')">Nome do Plano <span class="glyphicon glyphicon-sort"></span></th>
                        <th style="cursor:pointer" ng-click="ordenar('Ativo')">Ativo? <span class="glyphicon glyphicon-sort"></span></th>
                        <th style="cursor:pointer" ng-click="ordenar('Valor')">Valor <span class="glyphicon glyphicon-sort"></span></th>
                        <th style="cursor:pointer" ng-click="ordenar('DataCadastro')">Data do Cadastro <span class="glyphicon glyphicon-sort"></span></th>
                        <th style="cursor:pointer" ng-click="ordenar('IsFamilar')">Plano Familia? <span class="glyphicon glyphicon-sort"></span></th>
                        <th>Ações</th>
                    </tr>
                    <tr class="animate-repeat" dir-paginate="plano in planos | filter:procurar | orderBy:sortKey:reverse | itemsPerPage:10 ">

                        <td> {{plano.PlanoId}}</td>
                        <td>{{plano.Nome}}</td>
                        <td>{{plano.Ativo}}</td>
                        <td>{{plano.Valor | currency:"R$ "}}</td>
                        <td>{{plano.DataCadastro}}</td>
                        <td>{{plano.IsFamilar}}</td>

                        <td>
                            <div class="row">

                                <div class="col-md-3">
                                    <button id="btnExcluir" data-ng-click="excluir(plano.PlanoId)" class="btn btn-danger">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </div>

                                <div class="col-md-3">
                                    <button id="btnEditar" data-ng-click="abrirModalEdicao(plano)" class="btn btn-default">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </button>
                                </div>
                            </div>

                        </td>
                    </tr>

                </table>
                <div class="alert alert-danger animate-repeat" ng-if="planos.length === 0">
                    <strong>Nenhum registro encontrado...</strong>
                </div>

                <dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>

                <p>
                    <b>Qtde. Planos:</b> {{planos.length}}
                </p>

            </div>

        </fieldset>

    </form>

    @*MODAL RESPONSÁVEL POR INCLUIR UM FUNCIONÁRIO*@
    <div class="modal fade" id="ModalInclusao" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-ng-click="cancelarInclusao()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{ labels.operacao}}
                    </h4>
                </div>

                <div class="modal-body">

                    @Html.Partial("Partial_DadosPlanos/_DadosPlano")

                </div>

                <div class="modal-footer">

                    <div class="form-group" data-ng-show="!show.loader">
                        <button type="submit"
                                class="btn btn-default"
                                id="buttonConfirmaInclusao"
                                data-ng-click="confirmarInclusao()"
                                data-ng-disabled="formPlano.$invalid">
                            {{ labels.botaoIncluir }}
                        </button>
                        <button class="btn btn-default" id="buttonCancelaInclusao" data-ng-click="cancelarInclusao()">Cancelar</button>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>

