<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:"Cambria Bold",serif;font-size:14.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:"Cambria Bold",serif;font-size:14.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:"Cambria",serif;font-size:14.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:"Cambria",serif;font-size:14.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:"Cambria",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:"Cambria",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:"Cambria Bold",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:"Cambria Bold",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:"Cambria Bold",serif;font-size:14.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
div.cls_011{font-family:"Cambria Bold",serif;font-size:14.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:"Cambria Bold",serif;font-size:9.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:"Cambria Bold",serif;font-size:9.7px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="8d392360-4a63-11e8-b174-0cc47a792c0a_id_8d392360-4a63-11e8-b174-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">

<div style="position:absolute;left:119.33px;top:33.66px" class="cls_002"><span class="cls_002">PLASFNI - Plano de Assistência Funeral de Nova Iguaçu Ltda</span><span class="cls_003">.</span></div>
<div style="position:absolute;left:73.94px;top:50.22px" class="cls_004"><span class="cls_004">Rua Cel. Francisco Soares, 71, sl. 510, Centro de Nova Iguaçu/RJ - Tel: (021) 2797-3110.</span></div>
<div style="position:absolute;left:136.61px;top:64.38px" class="cls_004"><span class="cls_004">CNPJ 15.073.6740001/93. Nome fantasia: </span><span class="cls_005">Sasf Assistência (SASF II)</span></div>
<div style="position:absolute;left:180.31px;top:103.98px" class="cls_011"><span class="cls_011">CONTRATO DE PRESTAÇÃO DE SERVIÇOS</span></div>
<div style="position:absolute;left:222.82px;top:126.33px" class="cls_011"><span class="cls_011">CODIÇÕES GERAIS (SASF  II)</span></div>
<div style="position:absolute;left:84.98px;top:148.65px" class="cls_005"><span class="cls_005">Cláusula I </span><span class="cls_004">- </span><span class="cls_005">O</span><span class="cls_007">BJETIVO DO CONTRATO</span><span class="cls_005">:</span></div>
<div style="position:absolute;left:84.98px;top:174.81px" class="cls_004"><span class="cls_004">O objetivo deste instrumento particular e intransferível é a prestação dos serviços de</span></div>
<div style="position:absolute;left:84.98px;top:188.97px" class="cls_004"><span class="cls_004">Assistência à realização do Funeral do Associado ou seus dependentes devidamente</span></div>
<div style="position:absolute;left:84.98px;top:202.89px" class="cls_004"><span class="cls_004">incluídos na Proposta de Admissão, parte integrante deste Contrato, observando-se as</span></div>
<div style="position:absolute;left:84.98px;top:217.07px" class="cls_004"><span class="cls_004">condições gerais aqui estabelecidas.</span></div>
<div style="position:absolute;left:84.98px;top:242.99px" class="cls_005"><span class="cls_005">Cláusula II </span><span class="cls_004">- </span><span class="cls_005">D</span><span class="cls_007">OS DIREITOS DOS </span><span class="cls_005">A</span><span class="cls_007">SSOCIADOS</span><span class="cls_005">:</span></div>
<div style="position:absolute;left:84.98px;top:269.15px" class="cls_004"><span class="cls_004">O Sasf dará cobertura pagando todas as despesas para realização do sepultamento, em</span></div>
<div style="position:absolute;left:84.98px;top:283.31px" class="cls_004"><span class="cls_004">cemitério público, exceto abertura e exumação de restos mortais, compreendendo tais</span></div>
<div style="position:absolute;left:84.98px;top:297.26px" class="cls_004"><span class="cls_004">despesas:</span></div>
<div style="position:absolute;left:66.98px;top:323.42px" class="cls_004"><span class="cls_004">1.</span></div>
<div style="position:absolute;left:84.98px;top:323.42px" class="cls_004"><span class="cls_004">Urna Mortuária cód. 01;</span></div>
<div style="position:absolute;left:66.98px;top:337.34px" class="cls_004"><span class="cls_004">2.</span></div>
<div style="position:absolute;left:84.98px;top:337.34px" class="cls_004"><span class="cls_004">Capela para velar o corpo;</span></div>
<div style="position:absolute;left:66.98px;top:351.50px" class="cls_004"><span class="cls_004">3.</span></div>
<div style="position:absolute;left:84.98px;top:351.50px" class="cls_004"><span class="cls_004">Remoção do corpo para o local de sepultamento; até a distancia de 150 KM.</span></div>
<div style="position:absolute;left:66.98px;top:365.66px" class="cls_004"><span class="cls_004">4.</span></div>
<div style="position:absolute;left:84.98px;top:365.66px" class="cls_004"><span class="cls_004">Ornamentação do Corpo e Coroa de flores naturais e (ou) artificiais;</span></div>
<div style="position:absolute;left:66.98px;top:379.58px" class="cls_005"><span class="cls_005">5.</span></div>
<div style="position:absolute;left:84.98px;top:379.58px" class="cls_004"><span class="cls_004">Locação de espaço (cova rasa, gaveta ou carneira) em Cemitério Público por três anos,</span></div>
<div style="position:absolute;left:84.98px;top:393.76px" class="cls_004"><span class="cls_004">na Cidade do Rio de Janeiro, baixada Fluminense </span><span class="cls_005">exceto em Duque de Caxias e São</span></div>
<div style="position:absolute;left:84.98px;top:407.92px" class="cls_005"><span class="cls_005">João de Meriti.</span></div>
<div style="position:absolute;left:66.98px;top:421.84px" class="cls_004"><span class="cls_004">6.</span></div>
<div style="position:absolute;left:84.98px;top:421.84px" class="cls_004"><span class="cls_004">Registro do óbito em Cartório registrado pela família;</span></div>
<div style="position:absolute;left:66.98px;top:436.00px" class="cls_004"><span class="cls_004">7.</span></div>
<div style="position:absolute;left:84.98px;top:436.00px" class="cls_004"><span class="cls_004">Pagamento das taxas Municipais relativo ao sepultamento.</span></div>
<div style="position:absolute;left:84.98px;top:461.92px" class="cls_005"><span class="cls_005">Cláusula III</span><span class="cls_004">- </span><span class="cls_005">D</span><span class="cls_007">OS </span><span class="cls_005">P</span><span class="cls_007">AGAMENTOS</span><span class="cls_005">:</span></div>
<div style="position:absolute;left:84.98px;top:488.10px" class="cls_004"><span class="cls_004">Para os Associados terem direito na cláusula acima, deverão pagar as suas mensalidades</span></div>
<div style="position:absolute;left:84.98px;top:502.26px" class="cls_004"><span class="cls_004">até o dia 10 (dez) de cada mês, na Rede Bancaria, ou no Escritório da Sasf (Rua Cel.</span></div>
<div style="position:absolute;left:84.98px;top:516.18px" class="cls_004"><span class="cls_004">Francisco Soares 71 Sl 510, Centro-Nova Iguaçu/RJ).</span></div>
<div style="position:absolute;left:84.98px;top:542.34px" class="cls_004"><span class="cls_004">Parágrafo Primeiro: O Sasf não dará cobertura para realização de Funeral aos associados</span></div>
<div style="position:absolute;left:84.98px;top:556.50px" class="cls_004"><span class="cls_004">que estiverem inadimplentes por mais de  15 (dez) dias  a partir do vencimento</span></div>
<div style="position:absolute;left:84.98px;top:570.45px" class="cls_004"><span class="cls_004">ressalvando Sábado domingo e feriado, e não devolvemos dinheiro.</span></div>
<div style="position:absolute;left:84.98px;top:596.61px" class="cls_005"><span class="cls_005">Cláusula IV</span><span class="cls_004">- </span><span class="cls_005">D</span><span class="cls_007">OS </span><span class="cls_005">R</span><span class="cls_007">EAJUSTES DA MENSALIDADE</span><span class="cls_005">:</span></div>
<div style="position:absolute;left:84.98px;top:622.53px" class="cls_004"><span class="cls_004">O período dos reajustes das mensalidades é anual ou por um período inferior se a Lei</span></div>
<div style="position:absolute;left:84.98px;top:636.69px" class="cls_004"><span class="cls_004">permitir. A variação dos valores será determinada pelo índice oficial do Governo para o</span></div>
<div style="position:absolute;left:84.98px;top:650.87px" class="cls_004"><span class="cls_004">Salário mínimo.</span></div>
<div style="position:absolute;left:84.98px;top:676.79px" class="cls_005"><span class="cls_005">Clausula V</span><span class="cls_004">- </span><span class="cls_005">D</span><span class="cls_007">A CARÊNCIA</span><span class="cls_005">:</span></div>
<div style="position:absolute;left:84.98px;top:702.95px" class="cls_004"><span class="cls_004">Os direitos do associado mencionados na cláusula II terão uma carência de 90 (noventa)</span></div>
<div style="position:absolute;left:84.98px;top:716.87px" class="cls_004"><span class="cls_004">dias, para o associado de até 69 (sessenta e nove) anos; acima de 70 (setenta) anos</span></div>
<div style="position:absolute;left:84.98px;top:731.03px" class="cls_004"><span class="cls_004">sofrerão uma carência de 180 (cento e oitenta) dias, a partir da data da assinatura da</span></div>
<div style="position:absolute;left:84.98px;top:745.22px" class="cls_004"><span class="cls_004">proposta de Adesão e do pagamento da primeira mensalidade.</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:851px;width:595px;height:841px;border-style:outset;overflow:hidden">

<div style="position:absolute;left:84.98px;top:69.18px" class="cls_005"><span class="cls_005">P</span><span class="cls_007">ARÁGRAFO ÚNICO</span><span class="cls_005">.</span></div>
<div style="position:absolute;left:84.98px;top:95.34px" class="cls_004"><span class="cls_004">O Associado que ficar inadimplente por 60 (sessenta) dias consecutivos, perderá o</span></div>
<div style="position:absolute;left:84.98px;top:109.26px" class="cls_004"><span class="cls_004">direito das cláusulas II e III e seus parágrafos, e para retornar ao programa de</span></div>
<div style="position:absolute;left:84.98px;top:123.45px" class="cls_004"><span class="cls_004">assistência funeral será submetido a novo período de carência descrito na cláusula V</span></div>
<div style="position:absolute;left:84.98px;top:137.61px" class="cls_004"><span class="cls_004">deste contrato.</span></div>
<div style="position:absolute;left:84.98px;top:163.53px" class="cls_005"><span class="cls_005">Cláusula VI</span><span class="cls_004"> - </span><span class="cls_005">C</span><span class="cls_007">OMO ACIONAR O </span><span class="cls_005">SASF:</span></div>
<div style="position:absolute;left:84.98px;top:189.69px" class="cls_004"><span class="cls_004">Imediatamente após o falecimento de um Associado deve ser comunicado o plantão</span></div>
<div style="position:absolute;left:84.98px;top:203.85px" class="cls_004"><span class="cls_004">SASF  24h,  pelo  telefone</span></div>
<div style="position:absolute;left:227.46px;top:203.85px" class="cls_004"><span class="cls_004">(021)</span></div>
<div style="position:absolute;left:264.15px;top:203.85px" class="cls_004"><span class="cls_004">2797-3110,  3779-4473,  99369-3760,</span></div>
<div style="position:absolute;left:472.44px;top:203.85px" class="cls_004"><span class="cls_004">98938-9111.</span></div>
<div style="position:absolute;left:84.98px;top:217.79px" class="cls_004"><span class="cls_004">Informando-o:</span></div>
<div style="position:absolute;left:84.98px;top:243.95px" class="cls_004"><span class="cls_004">Nome e matricula do associado falecido;</span></div>
<div style="position:absolute;left:84.98px;top:269.87px" class="cls_004"><span class="cls_004">Hora e local do falecimento e declaração de óbito</span></div>
<div style="position:absolute;left:84.98px;top:296.06px" class="cls_005"><span class="cls_005">P</span><span class="cls_007">ARÁGRAFO PRIMEIRO</span><span class="cls_005">.</span></div>
<div style="position:absolute;left:84.98px;top:322.22px" class="cls_004"><span class="cls_004">É de exclusiva responsabilidade da família, a obtenção e a entrega ao despachante</span></div>
<div style="position:absolute;left:84.98px;top:336.14px" class="cls_004"><span class="cls_004">designado pelo SASF da declaração de óbito do falecido principalmente quando a morte</span></div>
<div style="position:absolute;left:84.98px;top:350.30px" class="cls_004"><span class="cls_004">ocorrer em sua residência.</span></div>
<div style="position:absolute;left:84.98px;top:376.22px" class="cls_005"><span class="cls_005">P</span><span class="cls_007">ARÁGRAFO SEGUNDO</span><span class="cls_005">.</span></div>
<div style="position:absolute;left:84.98px;top:402.40px" class="cls_004"><span class="cls_004">Em  nenhuma  hipótese  devera  a  família  encomendar  diretamente  os  serviços  de</span></div>
<div style="position:absolute;left:84.98px;top:416.56px" class="cls_004"><span class="cls_004">qualquer agencia funerária sobre a pena de arcar com as despesas do funeral, pelas</span></div>
<div style="position:absolute;left:84.98px;top:430.48px" class="cls_004"><span class="cls_004">quais o SASF não se responsabilizará.</span></div>
<div style="position:absolute;left:84.98px;top:456.64px" class="cls_005"><span class="cls_005">Cláusula VII</span><span class="cls_004">: </span><span class="cls_005">D</span><span class="cls_007">O </span><span class="cls_005">F</span><span class="cls_007">ORO</span></div>
<div style="position:absolute;left:84.98px;top:482.82px" class="cls_004"><span class="cls_004">O Foro eleito pelas partes contratantes será o da comarca da cidade de Nova Iguaçu, no</span></div>
<div style="position:absolute;left:84.98px;top:496.74px" class="cls_004"><span class="cls_004">Estado do Rio de Janeiro para dirimir qualquer dúvida.</span></div>
<div style="position:absolute;left:84.98px;top:522.90px" class="cls_005"><span class="cls_005">Cláusula VIII</span><span class="cls_004">: </span><span class="cls_005">D</span><span class="cls_007">AS EXCLUSÕES</span></div>
<div style="position:absolute;left:84.98px;top:548.82px" class="cls_004"><span class="cls_004">Estão excluídos dos serviços de Assistência Funeral os seguintes casos: Inundação,</span></div>
<div style="position:absolute;left:84.98px;top:563.01px" class="cls_004"><span class="cls_004">furacão, erupção vulcânica, tempestades, terremotos, movimentos sísmicos, Ocorrência</span></div>
<div style="position:absolute;left:84.98px;top:577.17px" class="cls_004"><span class="cls_004">de irradiação decorrente de transmutação nuclear, desintegração por radiatividade, bem</span></div>
<div style="position:absolute;left:84.98px;top:591.09px" class="cls_004"><span class="cls_004">como casos de força maior, Situação guerra, comoções sociais, atos de terrorismo e</span></div>
<div style="position:absolute;left:84.98px;top:605.25px" class="cls_004"><span class="cls_004">sabotagem,  greves  e  quaisquer  outras  perturbações  de  ordem  pública  ou  ainda</span></div>
<div style="position:absolute;left:84.98px;top:619.41px" class="cls_004"><span class="cls_004">restrições por parte das autoridades ao livre trânsito, aquisição de jazigo, exumação de</span></div>
<div style="position:absolute;left:84.98px;top:633.33px" class="cls_004"><span class="cls_004">corpos que estiverem no jazigo quando do sepultamento, localidades onde a legislação</span></div>
<div style="position:absolute;left:84.98px;top:647.51px" class="cls_004"><span class="cls_004">não permitir que o serviço de assistência intervenha; e qualquer outro serviço que não</span></div>
<div style="position:absolute;left:84.98px;top:661.43px" class="cls_004"><span class="cls_004">esteja estipulado neste contrato.</span></div>
<div style="position:absolute;left:219.70px;top:687.59px" class="cls_004"><span class="cls_004">Nova Iguaçu, ________de ________________________________de 20______.</span></div>
<div style="position:absolute;left:84.98px;top:727.67px" class="cls_004"><span class="cls_004">__________________________________________</span></div>
<div style="position:absolute;left:340.46px;top:727.67px" class="cls_004"><span class="cls_004">____________________________________________</span></div>
<div style="position:absolute;left:95.57px;top:741.86px" class="cls_005"><span class="cls_005">ASSINATURA DO ASSOCIADO</span></div>
<div style="position:absolute;left:348.86px;top:741.86px" class="cls_005"><span class="cls_005">SASF - ASSISTÊNCIA FUNERAL</span></div>
</div>

</body>
</html>
