@{
    ViewBag.Title = "Contato";
}

<h3>@ViewBag.Message</h3>

<address>
    Thiago Gralha<br />
    Analista de Sistemas<br />
    <abbr title="Phone">P:</abbr>
    (021) 96421-4857
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:thiago.gralha@outlook.com.br">thiago.gralha@outlook.com.br</a><br />
    <strong>Pessoal:</strong> <a href="mailto:thiago.gralha25@gmail.com">thiago.gralha25@gmail.com</a>
</address>