@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SASF</h1>
    <p class="lead">Sistema de controle funeral.</p>
</div>


<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i style="font-size:3.5em;" class="glyphicon glyphicon-user"></i>
                    </div>
                    <div class="col-xs-9 text-right">

                        <div>New!</div>
                    </div>
                </div>
            </div>
            <a href="~/Login">
                <div class="panel-footer">
                    <span class="pull-left">Área de Login</span>
                    <span class="pull-right"><i class="glyphicon glyphicon-hand-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i style="font-size:3.5em;" class="glyphicon glyphicon-envelope"></i>
                    </div>
                    <div class="col-xs-9 text-right">

                        <div>New!</div>
                    </div>
                </div>
            </div>
            <a href="~/Home/Contact">
                <div class="panel-footer">
                    <span class="pull-left">Contato</span>
                    <span class="pull-right"><i class="glyphicon glyphicon-hand-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i style="font-size:3.5em;" class="glyphicon glyphicon-info-sign"></i>
                    </div>
                    <div class="col-xs-9 text-right">

                        <div>New!</div>
                    </div>
                </div>
            </div>
            <a href="~/Home/About">
                <div class="panel-footer">
                    <span class="pull-left">Sobre</span>
                    <span class="pull-right"><i class="glyphicon glyphicon-hand-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i style="font-size:3.5em;" class="glyphicon glyphicon-tasks"></i>
                    </div>
                    <div class="col-xs-9 text-right">

                        <div>New!</div>
                    </div>
                </div>
            </div>
            <a href="~/Fichas">
                <div class="panel-footer">
                    <span class="pull-left">Fichas</span>
                    <span class="pull-right"><i class="glyphicon glyphicon-hand-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i style="font-size:3.5em;" class="glyphicon glyphicon-usd"></i>
                    </div>
                    <div class="col-xs-9 text-right">

                        <div>New!</div>
                    </div>
                </div>
            </div>
            <a href="~/Titulos">
                <div class="panel-footer">
                    <span class="pull-left">Títulos</span>
                    <span class="pull-right"><i class="glyphicon glyphicon-hand-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

</div>